

@media screen and (min-width: 768px) {


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menuBtn {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navigation a {
        border: none;
    }



    .hero img {
        height: 420px;
    }



    .info-grid {
        grid-template-columns: 2fr 1fr 1fr;
    }


    .members-grid {
        grid-template-columns: repeat(3, 1fr);
    }


    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}